<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />


    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>Mercado Liebre|Home</title>
</head>

<body>
    <header class="header">
        <img class="logoMl" src="/images/logo-mercado-liebre.svg" alt="">
        
            <form class="busqueda">
                <input class="form-control"  type="text" placeholder="Buscar productos" aria-label="Search">
                <button type="submit" class="iconoBuscar"><i class="fas fa-search"></i></button>
              </form>
        

        <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin la tarjeta de credito</p>
        
       
        <nav>
            <ul class="header__nav--menu">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>

            </ul>

           
            <ul class="header__menu--user">
                <li><a href="">Crea tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="">Mis Compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <nav id="menu">
            <button type="menu" id="buttonMenu"><i class="fas fa-bars"></i></button>
          </nav>

    </header>
    <!--seccion banner-->
    <section >
        <img class="homeBanner" src="/images/img-home-banner.jpg" alt="" width="100%">
    </section>

    <main class="home__main">
        <!---seccion ultima visita-->
        <section class="home__main__section">
            <h2>Basado en tu ultima visita</h2>
            <article class="home__main__section--article">
                <img class="imagen" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera" width="300">
                <div class="truck"><i class="fas fa-truck"></i></div>
                <h3 class="precios">$6.770</h3>
                <p class="descuento">40% OFF</p>
                <h4 class="nombreProducto">Cafetera Moulinex</h4>
            </article>
            <article class="home__main__section--article">
                <img  class="imagen" src="/images/img-macbook-pro.jpg" alt="Mcbook.pro" width="300">
                <div class="truck"><i class="fas fa-truck"></i></div>
                <h3 class="precios">$230.000</h3>
                <p class="descuento">20% OFF</p>
                <h4 class="nombreProducto">Mcbook Pro 2019</h4>
            </article>
            <article class="home__main__section--article">
                <img class="imagen" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy" width="300">
                <div class="truck"><i class="fas fa-truck"></i></div>
                <h3 class="precios">$70.500</h3>
                <p class="descuento">10% OFF</p>
                <h4 class="nombreProducto">Samsung Galaxy</h4>
            </article>
            <article class="home__main__section--article">
                <img class="imagen" src="/images/img-tv-samsung-smart.jpg" alt="Smart TV" width="300">
                <div class="truck"><i class="fas fa-truck"></i></div>
                <h3 class="precios">$23.200</h3>
                <p class="descuento">5% OFF</p>
                <h4 class="nombreProducto">SmartTv Samsung 43"</h4>
            </article>
        </section>
        <!--seccion ofertas-->
        <section>

        </section>
    </main>
    <footer class="footer">
        <article class="footer">
            <i class="fas fa-credit-card" style="color: #1259c3"></i>
            <h4>
                Pagá con tarjeta o efectivo
            </h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre
                es seguro!
            </p>
        </article>
        <article class="footer">
            <i  class="fas fa-gift" style="color: #1259c3"></i>
            <h4>
                Envío gratis desde $ 2.500
            </h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio
                de Mercado Puntos.
            </p>
        </article>
        <article class="footer">
            <i class="fas fa-user-shield" style="color: #1259c3"></i>
            <h4>
                Seguridad, de principio a fin
            </h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </article>
        <p class="copyright">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </p>

    </footer>
</body>

</html>