footer {
    text-align: center;
    background-color: white;
    color: #666;
    padding: 20px 5%;
}

a {
    text-decoration: none;
    color: black;
}

.footer {
    margin: 20px 0px;
}

.copyright {
    font-size: x-small;
    text-align: center;
}
