

.home__main{
   width: 100%
    margin: o auto;
}




 #ofertas {
    font-size: 24px;
    text-align: center;
    width: 90%;
    color: #666;
    margin: 20px 0px;
}

.home__main__section--article{
    margin: 20px;
    background-color: white;
    margin-bottom: 10px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: solid #ebebeb 1px;
}

.imagen {
    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-self: center;
}

.truck{
    color: #39b54a;
    border: 1px solid ;
  border-radius: 50%;
  padding: 10px;
  width: fit-content
}
.precios {
    padding: 5px;
    font-size: 18px;

}

.descuento{
    color: #39b54a;
    padding: 5px;
    font-size: 16px;
    
}

.nombreProducto {
    padding: 5px;
    font-size: 16px;
    width: 100%;
    color: #666;
}

p {
    font-size: 12px;
    text-align: justify;
}

ul {
    list-style-type: none;
}


@media (min-width:361px)/* Resolucion de Tablet */{
    

    .home__main__section__article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home__main__section__article__p--nombre{
        display: block;
    }

}
@media (min-width:769px)/* Resolucion de Desktop */{
    .header__nav__ul{
        margin-bottom: 0px;
    }
    
    .buttonMenu{
        display: none;
    }

    .home__main__section__article__p--nombre{
        display: block;
    }
}